<div class="modal modal-jumbo modal-questionnaire">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header no-border">
        <button
          class="close"
          data-dismiss="modal">
          <i class="fa fa-fw fa-close"></i>
        </button>
        <div class="modal-title">
          <div class="text-center font-bold text-muted">
            Personal Training Questionnaire
          </div>
        </div>
      </div><!-- .modal-header -->
      <div class="modal-body no-padding">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default no-border no-background no-shadow">
              <div class="panel-body">
                {% include components/forms/questionnaire.html %}
              </div><!-- .panel-body -->
            </div><!-- .panel -->
          </div><!-- .col (4 - 4 - 4) -->
        </div><!-- .row -->
      </div><!-- .modal-body -->
      <div class="modal-footer no-border">
      </div><!-- .modal-footer -->
    </div><!-- .modal-content -->
  </div><!-- .modal-dialog -->
</div><!-- .modal -->
